html {
    height: 100%;
    overflow: hidden;

}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
}
header {
    position: relative;
    font-family: 'Sedgwick Ave', cursive;
    color: #fff;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    transform-style: inherit;
}
header:before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/1647962/pexels-photo-1647962.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s linear;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

h1 {
    font-size: 80px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px #000;
    margin-top: 0;
}

p {
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 60%;
}

.content {
    padding: 50px;
    background-color: #f1f1f1;
    margin: 0;
    font-size: 20px;
}


h4 {
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px #000;
    margin-top: 0;
}
.gallery {

    padding: 5vh;
    font-size: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: flex;
}

.gallery div {
    flex: auto;
    width: 237px;
    margin: 5vh;
}
.gallery div img{
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.sections{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    box-sizing: border-box;
}

.section{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    box-shadow: rgba(1,2,3,3);
    border-radius: 4px;
}

@media (max-width: 600px) {
    .section {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .section {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
.section span{
    display: flex;
}
.section summary {
    padding: 5% 5% 3% 5%;
}
.section .section-header {
     position: relative;
     height: 175px;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-color: rgba(255,255,255,0.15);
     background-blend-mode: overlay;
    border-radius: 4px 4px 0 0;
}

.section .section-header:hover, .section .section-header:focus {
    background-color: rgba(255, 255, 255, 0);
}

.section .section-title {
    background: rgba(104,156,210,0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.section .section-title a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.0em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.section .section-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    text-transform: uppercase;
    font-size: 0.78em;
    position: absolute;
    bottom: 15%;
    padding: 0 5%;
    transition-property: max-height;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.section:hover, .section:focus {
    background: white;
    box-shadow: rgba(0,0,0,0.45) 0px 0px 20px 0px;
}

.section:hover .section-title, .section:focus .section-title {
     background: rgba(104,156,210,0.95);
 }

.section:hover .section-meta,.section:focus .section-meta {
  max-height: 1em;
}



footer {
  width: 100%;
    height: auto;

    margin: 0 auto;
    text-align: center;
    padding-top: 25px;

}
.graficLogo{
    height: 10px;
    width: 10px;
    border-radius: 15px;
}
.social_icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
}

.social_icon:hover{
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;
}